<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="catalog.css" media="screen" />
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
  </head>
  <title>Movieflix</title>
  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">   
    	<div class="container">
    		<form class="form-inline" role="form" action="login.html">
    			<div class="nav navbar-nav navbar-left">
    				<h3 id="header1"><strong>Movieflix</strong></h3>
    			</div>
				<div class= "nav navbar-nav navbar-right" id = "div1">
    					<button class="btn btn-default" type="submit">Log out</button>
    			</div>
    		</form>
		</div>
    </nav>
	<br>
	<br>
	<br>
	<br>
	<div class="container" id="div2">
		<div class="row  pad-top">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<div class="panel panel-default"  class="text-center">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<br>
	<table >
		<tr>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Genre
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>Comedy</li>
						<li>Action</li>
						<li>Sci-Fi</li>
					</ul>
				</div>
			</td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Ratings
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
					</ul>
				</div>
			</td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Year
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>2010</li>
						<li>2011</li>
						<li>2012</li>
						<li>2013</li>
						<li>2014</li>
						<li>2015</li>
						<li>2016</li>
					</ul>
				</div>
			</td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Language
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>English</li>
						<li>French</li>
						<li>Hindi</li>
					</ul>
				</div>
			</td>			
		</tr>
	</table>
	
	<br>
	<table>
		<tr>
			<td>
				<table>
					<form class="form-inline" role="form" action="movie.html">
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">Avengers:Age of Ultron</button>
						</td>
					</tr>
					</form>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">The Avengers</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">The Shawshank Redemption</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">Batman Begins</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">The Dark Knight</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">The Dark Knight Rises</button>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="http://ia.media-imdb.com/images/M/MV5BMjU4NDExNDM1NF5BMl5BanBnXkFtZTgwMDIyMTgxNzE@._V1_SX300.jpg" title="Describe Image Link Destination" />
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="submit">The Revenant</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
  </body>
</html>