<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="movie.css" media="screen" />
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
  </head>
  <title>Movieflix</title>
  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">   
    	<div class="container">
    		<div class="nav navbar-nav navbar-left">
    			<h3 id="header1"><strong>Movieflix</strong></h3>
    		</div>
			<div class= "nav navbar-nav navbar-right" id = "div1">
				<table>
					<tr>
						<td>			
							<form class="form-inline" role="form" action="login.html">
								<button class="btn btn-default" type="submit">Log out</button>
							</form>
						</td>
						<td>
							<form class="form-inline" role="form" action="catalog.html">
								<button class="btn btn-default" type="submit">Back to Catalog</button>
							</form>
						</td>
					</tr>
				</table>
    		</div>
		</div>
    </nav>
	
	<div class="container" id="div2">
		<div class="panel panel-default"  id = "divMovie" class="text-center">
			<table>
				<tr>	
					<td><img src="http://ia.media-imdb.com/images/M/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE@._V1_SX300.jpg" alt="Avengers: Age of Ultron"/><td>
					<td>
						<table>
							<tr>
								<td><strong>Title:</strong></td>
								<td>Avengers: Age of Ultron</td>
							</tr>
							<tr>
								<td><strong>Year:</strong></td>
								<td>2015</td>
							</tr>
							<tr>
								<td><strong>Rated:</strong></td>
								<td>PG-13</td>
							</tr>
							<tr>
								<td><strong>Released:</strong></td> 
								<td>01 May 2015</td>
							</tr>
							<tr>
								<td><strong>Runtime:</strong></td>
								<td>141 min</td>
							</tr>
							<tr>
								<td><strong>Genre:</strong></td>
								<td>Action, Adventure, Sci-Fi</td>
							</tr>
							<tr>
								<td><strong>Director:</strong></td>
								<td>Joss Whedon</td>
							</tr>
							<tr>
								<td><strong>Writer:</strong></td> 
								<td>Joss Whedon, Stan Lee (Marvel comics), Jack Kirby (Marvel comics)</td>
							</tr>
							<tr>
								<td><strong>Actors:</strong></td>
								<td>Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans</td>
							</tr>
							<tr>
								<td><strong>Plot:</strong></td>
								<td>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</td>
							</tr>
							<tr>
								<td><strong>Language:</strong></td>
								<td>English</td>
							</tr>
							<tr>
								<td><strong>Country:</strong></td>
								<td>USA</td>
							</tr>
							<tr>
								<td><strong>Awards:</strong></td>
								<td>1 win & 12 nominations</td>
							</tr>
							<tr>
								<td><strong>imdb Metascore:</strong></td>
								<td>66</td>
							</tr>
							<tr>
								<td><strong>imdbRating:</strong></td> 
								<td>7.6</td>
							</tr>
							<tr>
								<td><strong>imdbVotes:</strong></td>
								<td>370,909</td>
							</tr>
							<tr>
								<td><strong>imbd Page</strong></td>
								<td><a href="http://www.imdb.com/title/tt2395427/">Go to imdb Page</a></td>
							</tr>
							<tr>
								<td><strong>Type:</strong></td>
								<td>movie</td>
							</tr>
							<tr>
								<td><strong>User Rating:</strong></td>
								<td>4</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
  </body>
</html>