body{
	background: url("bg.jpg");
}
#header1{
	color: white;
}
#div1{
	margin-top:20px;
	margin-bottom:5px;
}
#div2{
	margin-top:100px;
	margin-left: auto;
	margin-right:auto;
}
button{
	width: 170;
}
#divMovie{
	background: black;
}
td{
	color:white;
}